$font-family-Roboto: 'Roboto', sans-serif;

$color-white: #fff;
$color-primary-lightest: #ecf8fd;
$color-primary-light: #89d1f3;
$color-primary: #2DA7E1;
$color-primary-dark: #127cad;
$color-primary-darkest: #001c29;

$font-family-base: $font-family-Roboto;

$layout-side-width: 6rem;

$radius-default: 8px;